{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Cabecera -->
    <section class="page-section about-heading">
      <div class="container">       
        <div class="about-heading-content">          
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
                <div class="bg-faded rounded p-5">
                    <h2 class="section-heading mb-4">                        
                        <span class="section-heading-lower">Contáctanos</span>
                    </h2>
                    <p>Envianos un e-mail a nuestro correo electronico: apapachoaverde@gmail.com</p>
                    <p>Síguenos en nuestras redes sociales</p>
                    <p><a href="https://www.instagram.com/apapachoaverde/">Instagram</a></p>
                    <p><a href="https://www.facebook.com/ApapachoaVerde/">Facebook</a></p>
                    <p><a href="https://twitter.com/ApapachoaV">Twitter</a></p>

                    
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}